h1, h2, h3, h4, h5, h6{
	margin-top: 2px;
	margin-bottom: 5px;
}

.center-block{
	margin: 0 auto;
	display:block;
}

.img-responsive{
	max-width: 100%;
}

#breakfast,
#lunch,
#espresso,
#drinks,
#dessert{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 25% 0;
	position: relative;
	
	
}

.bg-breakfast{
	background-image: url(../img/breakfast-bg.jpg);
}

.bg-lunch{
	background-image: url(../img/food-bg.jpg);
}

.bg-espresso{
	background-image: url(../img/cafe-espresso.png);
}

.bg-drinks{
	background-image: url(../img/lime-refreshers.jpg);
}

.bg-dessert{
	background-image: url(../img/dessert-bg.jpg);
	
}

.overlay{
	position: absolute;
	background-color: rgba(0,0,0,0.70);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-menu{
	
	align-items: center;
}

#menu .card-header{
	font-size: 14px;
	color: #606162;
	font-weight: 600;
	justify-content: center;
	
}

#menu .card-header::after{
	background-color: transparent;
}

#menu .card-footer{
	color: #0d9f67;
	font-weight: 600;
	justify-content: center;
}

#menu .card-footer::before{
	background-color: transparent;
}

#menu .card-content img{
	max-height: 140px;
}

#nav-list .icon{
	color: #0d9f67;
}

#producto .info-producto{
	border: 1px solid #c7c7c7;
	margin: 32px 20px;
	padding:  20px; 
		
}

#producto .icon{
	color: #c7c7c7;
}

#producto .texto{
	color: #929aa4;
	text-align: center;
}

#producto .precio{
	text-align: center;
	color: #0d9f67;
	font-weight: 600;
	float: right;
}